{% extends 'registration/base.html' %}
{% block content %}
   <!--main content start-->
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#">Dashboard</a>
                    </li>
                    <li>Contacts</li>
                    <li class="active">Add Inventory</li>
                </ul>
                <!--breadcrumbs end -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add inventory</h3>
                        <div class="actions pull-right">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if  form.errors %}
                            <p class="alert alert-danger">invalid</p>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>


                                </thead>
                                <form method="post" action="{% url 'inventories:add_inventory' %}" class="form-group">{% csrf_token %}
                                    <tbody>
                                    <tr>
                                        <th>Drug</th>
                                        <td><select class="form-control" name="name">
                                            {% for u in drug %}
                                                <option value="{{ u.name }}">{{ u.name }}</option>
                                            {% endfor %}
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>
                                            <input type="number" class="form-control"  name="price" min="0" placeholder="price">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Quantity</th>
                                        <td>
                                            <input type="number" class="form-control"  name="quantity" placeholder="quantity" min="0">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Expiry Date</th>
                                        <td>
                                            <input type="text" class="form-control" id="datepicker1" name="expiry_date" placeholder="expiry date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date Stocked</th>
                                        <td>
                                            <input type="text" class="form-control" id="datepicker2" name="stocked_date" placeholder="date stocked">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><input type="submit" value="add inventory" class="btn btn-primary pull-right"></td>
                                    </tr>
                                    </tbody>
                                </form>
                            </table>

                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

    </section>
</section>
    <!--main content end-->
    <!--sidebar right end-->
{% endblock %}













