{% extends 'registration/base.html' %}
{% block content %}
    <!--main content start-->
<section class="main-content-wrapper">
            <section id="main-content">
            <div class="row">
                    <div class="col-md-12">
                        <!--breadcrumbs start -->
                        <ul class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li>{{ user.username }}</li>
                            <li class="active">profile</li>
                        </ul>
                        <!--breadcrumbs end -->
                    <h1 class="h1">{{ user.pharmacy.name }} contact list</h1>
                </div>
                </div>



                 <div class="row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Contact List</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">

                            <div class="table-responsive">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Drug</th>
                                    <th>Available</th>
                                    <th>Description</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for u in drug %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ u.name }}</td>
                                        <td>
                                            {% for i in inventory %}
                                                {% if u == i.drug %}
                                                <input type="hidden" >
                                                <input type="checkbox" name="{{ i.id }}" checked>
                                                {% else %}
                                                <input type="checkbox" >
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ u.description }}</td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                              </table>
                            </div>

                    </div>
                </div>
               </div>
             </div>


            </section>
         </section>
        <!--main content end-->
{% endblock %}