{% extends "login_base.html" %}
{% block content %}

      <div class="site-wrapper">

        <div class="site-wrapper-inner">

          <div class="cover-container">

              <div class="masthead clearfix">
                  <div class="inner">
                      <h3 class="masthead-brand"><a href="{% url 'users:login' %}"><i class="icon-twitter"></i>-Clone</a></h3>
                      <ul class="nav masthead-nav">
                          <li class="active"><a href="{% url 'users:register' %}"><i class="icon-2x icon-home"></i></a></li>
                          <li><a href="{% url 'users:register' %}">Sign up</a></li>
                      </ul>
                  </div>
              </div>


              <h1>User Login</h1>
              <form action="." method="post" >{% csrf_token %}
                  {{ form.as_p}}
                  <input type="hidden" name="next" value="{% url 'pharmacies:main' %}" >
                  <p>Already have an account? <input value="sign in" type="submit" class="btn btn-success"></p>
              </form>


              <div class="mastfoot">
                  <div class="inner">
                      <p>&copy; 2014 <a href="#">:</a> All right reserved.</p>
                      <p><a href="#"><i class="icon-twitter"></i>-Clone</a> by <a href="https://twitter.com/alfredayibonte" target="_blank">@Alfred Ayi-bonte</a>.</p>
                  </div>
              </div>

          </div>

        </div>

      </div>

{% endblock %}