{% extends 'registration/base.html' %}
{% block content %}
    <!--main content start-->
<section class="main-content-wrapper">
            <section id="main-content">
                <!--tiles start-->
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-red">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="180" data-speed="2500">1</h1>
                                <p>Administrator</p>
                            </div>
                            <div class="icon"><i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-turquoise">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="56" data-speed="2500">{{ client | length }}</h1>
                                <p>Contact List</p>
                            </div>
                            <div class="icon"><a href="{% url 'pharmacies:contact_list' %}"><i class="fa fa-users"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-blue">
                            <div class="content">
                                <h1 class="text-left timer" data-from="0" data-to="32" data-speed="2500">{{ inventory | length }}</h1>
                                <p>Inventory</p>
                            </div>
                            <div class="icon"><a href="{% url 'inventories:inventory_list' %}"><i class="fa fa-codepen"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="dashboard-tile detail tile-purple">
                            <div class="content">
                                <h1 class="text-left timer" data-to="105" data-speed="2500">&nbsp;</h1>
                                <p>Statistics</p>
                            </div>
                            <div class="icon"><i class="fa fa-bar-chart-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tiles end-->

            </section>
        </section>
        <!--main content end-->
{% endblock %}