{% extends 'registration/base2.html' %}
{% block content %}
    <div id="content-wrapper">
		<div class="page-header">

			<div class="row">
				<!-- Page header, center on small screens -->

				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<hr class="visible-xs no-grid-gutter-h">
						<!-- "Create project" button, width=auto on desktops -->
						<div class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>add drugs</a></div>

						<!-- Margin -->
						<div class="visible-xs clearfix form-group-margin"></div>

						<!-- Search field -->

					</div>
				</div>
			</div>
		</div> <!-- / .page-header -->
    </div>

    <!-- users -->
    <div class="col-md-7">
				<div class="panel panel-dark panel-light-green">
					<div class="panel-heading">
						<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>New users</span>
						<div class="panel-heading-controls">
							<ul class="pagination pagination-xs">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">»</a></li>
							</ul> <!-- / .pagination -->
						</div> <!-- / .panel-heading-controls -->
					</div> <!-- / .panel-heading -->
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Full Name</th>
								<th>E-mail</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="valign-middle">
							<tr>
								<td>1</td>
								<td>
									<img src="assets/demo/avatars/2.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@rjang</a>
								</td>
								<td>Robert Jang</td>
								<td>rjang@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>2</td>
								<td>
									<img src="assets/demo/avatars/3.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@mbortz</a>
								</td>
								<td>Michelle Bortz</td>
								<td>mbortz@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>3</td>
								<td>
									<img src="assets/demo/avatars/4.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@towens</a>
								</td>
								<td>Timothy Owens</td>
								<td>towens@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>4</td>
								<td>
									<img src="assets/demo/avatars/5.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@dsteiner</a>
								</td>
								<td>Denise Steiner</td>
								<td>dsteiner@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>5</td>
								<td>
									<img src="assets/demo/avatars/2.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@rjang</a>
								</td>
								<td>Robert Jang</td>
								<td>rjang@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>6</td>
								<td>
									<img src="assets/demo/avatars/3.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@mbortz</a>
								</td>
								<td>Michelle Bortz</td>
								<td>mbortz@example.com</td>
								<td></td>
							</tr>
							<tr>
								<td>7</td>
								<td>
									<img src="assets/demo/avatars/4.jpg" alt="" style="width:26px;height:26px;" class="rounded">&nbsp;&nbsp;<a href="#" title="">@towens</a>
								</td>
								<td>Timothy Owens</td>
								<td>towens@example.com</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div> <!-- / .panel -->
			</div>
    <!-- end of users -->
{% endblock %}