{% extends 'base.html' %}
{% block content %}
    <!-- 13. $RECENT_TASKS =============================================================================

			Recent tasks
-->
			<div class="col-md-5">
				<!-- Javascript -->
				<script>
					init.push(function () {
						$('.widget-tasks .panel-body').pixelTasks().sortable({
							axis: "y",
							handle: ".task-sort-icon",
							stop: function( event, ui ) {
								// IE doesn't register the blur when sorting
								// so trigger focusout handlers to remove .ui-state-focus
								ui.item.children( ".task-sort-icon" ).triggerHandler( "focusout" );
							}
						});
						$('#clear-completed-tasks').click(function () {
							$('.widget-tasks .panel-body').pixelTasks('clearCompletedTasks');
						});
					});
				</script>
				<!-- / Javascript -->

                <div class="panel widget-tasks panel-dark-gray">

                    <!-- Without vertical padding -->
                    <div class="panel-body no-padding-vr">


                        <div class="task">
                            <span class="label pull-right">Low</span>
                            <div class="fa fa-arrows-v task-sort-icon"></div>
                            <div class="action-checkbox">
                                <label class="px-single"><input type="checkbox" name="" value="" class="px"><span class="lbl"></span></label>
                            </div>
                            <a href="#" class="task-title">An unimportant task</a>
                        </div> <!-- / .task -->
                    </div> <!-- / .panel-body -->
                </div> <!-- / .panel -->
            </div>
    <!-- /13. $RECENT_TASKS -->
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Change Password</span>
        </div>
        <div class="panel-body">
            <div class="note note-info">
                <form method="post" action=".">
                    {{ form.as_p }}
                    <br>
                    <input value="change" type="submit" class="btn btn-rounded btn-primary">
                </form>
            </div>

            <div class="graph-container">
                <div id="hero-bar" class="graph"></div>
            </div>
        </div>
    </div>
{% endblock %}