{% extends 'base.html' %}
{% block content %}
    <div id="content-wrapper">
        <div class="page-header">

            <div class="row">
                <!-- Page header, center on small screens -->

                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <hr class="visible-xs no-grid-gutter-h">
                        <!-- "Create project" button, width=auto on desktops -->
                        <div class="pull-right col-xs-12 col-sm-auto"><a href="{% url 'inventories:add' %}" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Create project</a></div>

                        <!-- Margin -->
                        <div class="visible-xs clearfix form-group-margin"></div>

                        <!-- Search field -->

                    </div>
                </div>
            </div>
        </div> <!-- / .page-header -->
    </div>
    <!-- 13. $RECENT_TASKS =============================================================================

			Recent tasks
-->
    <div class="col-md-5">
        <!-- Javascript -->
        <script>
            init.push(function () {
                $('.widget-tasks .panel-body').pixelTasks().sortable({
                    axis: "y",
                    handle: ".task-sort-icon",
                    stop: function( event, ui ) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children( ".task-sort-icon" ).triggerHandler( "focusout" );
                    }
                });
                $('#clear-completed-tasks').click(function () {
                    $('.widget-tasks .panel-body').pixelTasks('clearCompletedTasks');
                });
            });
        </script>
        <!-- / Javascript -->

        <form method="post" action=".">{% csrf_token %}
            {{ form.as_p }}
            <br>
            <input value="change" type="submit" class="btn btn-rounded btn-primary">
        </form>
    </div>
    <!-- /13. $RECENT_TASKS -->



{% endblock %}