{% extends 'base.html' %}
{% block content %}
    <div id="content-wrapper">
		<div class="page-header">

			<div class="row">
				<!-- Page header, center on small screens -->

				<div class="col-xs-12 col-sm-8">
					<div class="row">
						<hr class="visible-xs no-grid-gutter-h">
						<!-- "Create project" button, width=auto on desktops -->
						<div class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Create project</a></div>

						<!-- Margin -->
						<div class="visible-xs clearfix form-group-margin"></div>

						<!-- Search field -->

					</div>
				</div>
			</div>
		</div> <!-- / .page-header -->
    </div>

{% endblock %}