{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content=" ">
    <meta name="author" content="">


    <title>ipharm login</title>

    <!-- Bootstrap core CSS -->
    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<link href="http://bootstrapbay.com/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link media="screen" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic">
    <style>
        body{
            background: #000000;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
		</head>

		<body>
			<div id="mainWrap">
			<div id="loggit">
				<h1> ipharm registration form</h1>
				<h3>Please <strong>Register</strong> or <strong>Login</strong></h3>
                {% if form.errors %}
                    <h1>{{ form.errors }}</h1>
                {% endif %}

				<form action="{% url 'register' %}" id="logForm" method="post" class="form-horizontal">{% csrf_token %}
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
								<input type="text" class="form-control input-lg" placeholder="Email" autocomplete="off" name="email">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      							<input type="password" class="form-control input-lg" placeholder="Password" autocomplete="off" name="password">
							</div>
						</div>
					</div>

                    <div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
      							<input type="password" class="form-control input-lg" placeholder="repeat" autocomplete="off" name="repeat">
							</div>
						</div>
					</div>

                    <div class="form-group formSubmit">
						<div class="col-sm-7">
							<div class="checkbox">

							</div>
						</div>
						<div class="col-sm-5 submitWrap">
							<button type="submit" class="btn btn-primary btn-lg">Register</button>
						</div>
					</div>

					<div class="form-group formNotice">
						<div class="col-xs-12">
							<p class="text-center">Already have an account? <span>Login now</span></p>
						</div>
					</div>
				</form>

			</div>

			</div>
			<footer class="clearfix">
				<p>Copyright &copy; 2014 Loggit - Login &amp; registration template. All Rights Reserved</p>
			</footer>


			<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="js/bootstrap.min.js"></script>
			
			<script type="text/javascript">
				$(document).ready(function() {
					
					$('.formNotice span').click(function() {
						$("#logForm").toggle();
						$("#regForm").toggle();
					});
					
						
				});
			</script>
	
		</body>
</html>