{% extends 'registration/base.html' %}
{% block content %}
    <!--main content start-->
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="{% url 'pharmacies:main' %}">Dashboard</a>
                    </li>
                </ul>
                <!--breadcrumbs end -->

            </div>
        </div>

    </section>
</section>
        <!--main content end-->
{% endblock %}