{% extends 'registration/base2.html' %}
{% block content %}
    <div id="content-wrapper">
        <div class="page-header">

            <div class="row">
                <!-- Page header, center on small screens -->

                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <hr class="visible-xs no-grid-gutter-h">
                        <!-- "Create project" button, width=auto on desktops -->
                        <div class="pull-right col-xs-12 col-sm-auto"><a href="{% url 'inventories:add' %}" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Create project</a></div>

                        <!-- Margin -->
                        <div class="visible-xs clearfix form-group-margin"></div>

                        <!-- Search field -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / .page-header -->

    <!-- add drug form-->
    <div class="col-md-7">
				<div class="panel panel-dark panel-light-green">
					<div class="panel-heading">
						<span class="panel-title"><i class="panel-title-icon fa fa-smile-o"></i>New users</span>
						<div class="panel-heading-controls">
							<ul class="pagination pagination-xs">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">»</a></li>
							</ul> <!-- / .pagination -->
						</div> <!-- / .panel-heading-controls -->
					</div> <!-- / .panel-heading -->

					<div class="panel-body">
                        {{ form.errors }}
						<form class="form-horizontal" method="post" novalidate="novalidate" action="{% url 'inventories:add' %}">{% csrf_token %}
							<div class="form-group">
								<label for="jq-validation-email" class="col-sm-3 control-label">Name of Drug</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="jq-validation-email" name="drug" placeholder="drug name">
								</div>
							</div>

							<div class="form-group">
								<label for="jq-validation-text" class="col-sm-3 control-label">Drug Description</label>
								<div class="col-sm-9">
									<textarea class="form-control" name="description" id="jq-validation-text"></textarea>
									<p class="help-block">Example block-level help text here.</p>
								</div>
                            </div>
                            <div class="form-group">
                                <label for="jq-validation-email" class="col-sm-3 control-label">Amount</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="jq-validation-email" name="amount" placeholder="amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jq-validation-email" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="jq-validation-email" name="quantity" placeholder="quantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jq-validation-email" class="col-sm-3 control-label">Expiry date</label>
                                <div class="col-sm-9" >
                                    <input type="text" class="form-control date" id="datepicker" name="expiry_date"  size="30">
                                </div>
                            </div>

        					<hr class="panel-wide">

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>add</button>
								</div>
							</div>
						</form>
					</div>
				</div> <!-- / .panel -->
			</div>

        <!-- end of add drug form-->
    </div>
{% endblock %}