{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ipharm</title>

    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>


  
    <header id="site-header" class="site-header" style="height: 100%; position: fixed;">
      <div class="container" id="hide_me">
        <h1><a class="site-title pull-left" href="{% url 'home' %}">ipharm</a></h1>
        <div class="btn-users text-right">
            <span style="font-size: 120%; font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif'; color: #FFF;"></span>
          <a class="btn btn-login" href="{% url 'login' %}">Login</a> |
          <a class="btn btn-register" href="{% url 'register' %}">Register</a>
        </div>
      </div><!-- /container -->
      
      <div class="container">

        <div class="header-description" >
          <h2 id="first_heading">find your drug</h2>
            <!-- search box-->
            <div class="row"  id="find">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="input-group input-group-lg centered" >{% csrf_token %}
                        <input type="text" class="form-control rounded" placeholder="search for drug" id="search" autocomplete="on" >
                        <span class="input-group-addon btn-primary"><i class="fa fa-search"></i></span>


                    </div>
                    <div id="line">
                        <hr>
                    </div>
                    <div  style="position: absolute; color:white; font-size: 120%; list-style: none;" id="popups"> </div>

                </div>
            </div>


            <!-- end of search box-->

        </div><!-- /.header-description -->
        
        <div class="header-features">
          <div class="row">
            <div class="col-sm-6 header-feature">
              <h3> </h3>
            </div>
            <div class="col-sm-6 header-feature">


            </div>
          </div>
        </div><!-- /.header-features -->
            
      </div><!-- /.container -->
    </header>
    


    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>




  </body>
</html>